<h2>Comments of current post</h2>
<table class="table table-success table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Text</th>
    <th scope="col">Rating</th>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <th scope="row"><%= comment.id %></th>
      <td><%= comment.text %></td>
      <td><<%= comment.rate %></td>
    </tr>
  <% end %>
  </tbody>
</table>